# OS junk
.DS_Store
Thumbs.db

# Environment files
.env
.env.backup
.env.production
.env.testing

# Tooling / editors
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.cursor
/.codegpt

# Composer / NPM
/vendor
/node_modules

# Laravel build artifacts
/bootstrap/cache/*.php
/public/build
/public/hot
/public/storage
/storage/app/public
/storage/framework/cache/*.php
/storage/framework/sessions/*.php
/storage/framework/testing
/storage/logs/*.log
/storage/*.key
/storage/pail

# Misc auth/config
/auth.json
Homestead.json
Homestead.yaml
